* {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

header {
  background-color: rgb(78, 139, 205);
}

header p {
  margin-left: 30px;
  color: white;
  font-size: 30px;
  line-height: 50px;
  padding: 10px 0;
  font-weight: 400;
}

.form {
  border-radius: 7px;
  border: 1px solid rgb(165, 164, 164);
  margin: 5px 0;
  width: 70%;
  padding: 7px;
}

.button {
  border-radius: 7px;
  border: 1px solid rgb(165, 164, 164);
  font-size: 12px;
  color: rgb(78, 77, 77);
}

.signup,
.login,
.post {
  padding: 10px 55px;
  background-color: rgb(133, 213, 13);
}

.back {
  padding: 7px 30px;
  margin: 5px 10px;
  background-color: rgb(254, 185, 89);
}

.back a {
  text-decoration: none;
  color: rgb(78, 77, 77);
}

.link {
  font-size: 12px;
  color: rgb(120, 118, 118);
  text-decoration: underline rgb(165, 164, 164);
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.d-flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.modal-wrap {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms ease-in-out;
}

.modal-wrap.hide {
  display: none;
}

.modal {
  position: absolute;
  width: 45%;
  margin: 20px auto;
  background-color: #ffffff;
  border: 1px solid gray;
  top: 45%;
  left: 50%;
  border-radius: 20px;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.modal-content {
  padding: 20px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  border-radius: 7px;
}

.modal-content .content {
  margin: 30px 0 60px;
}

.dialog {
  position: absolute;
  height: 100px;
  width: 45%;
  margin: 20px auto;
  background-color: white;
  border: 1px solid gray;
  top: 7%;
  left: 50%;
  border-radius: 7px;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: auto;
  padding: 18px 10px 7px 15px;
}

.dialog.hide {
  display: none;
}

.dialog p {
  margin-bottom: 10px;
}

.dialog div {
  display: flex;
  justify-content: end;
}

.dialog div button {
  margin: 7px;
}